.caro{
    height: 55vh;
    width: 65vw;
    margin-top: -1%;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 2%;
    padding-bottom: 5%;
    position: relative;
    
}
#caroimg{
    height: 55vh;
    width: 65vw;
    margin-top: -1%;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 2%;
    padding-bottom: 5%;
    position: relative;
}
.imgcaro{
    height: 55vh;
    width: 65vw;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.roomcards{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
   
    
}